//// FONT ////
@import url('https://rsms.me/inter/inter.css');

//// VARIABEL ////
$bayanganCahaya: 0 1px #555;
$ukuranFont: 15px;
$namaFont: "Inter", Helvetica, Arial, sans-serif;
$ltrblkgPlastik: url('../img/bg.png') top center repeat;
$ltrblkgChrome: linear-gradient(to bottom, #333, #444 50%, #222 51%, #111);

:root {
  --ltrblkg: url('../img/bg.png') top center repeat;
  --ltrblkgWarna: #000;
}

//// DASAR ////
* {box-sizing: border-box;}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font: normal $ukuranFont $namaFont;
  background: var(--ltrblkgWarna);
  color: #fff;
}
.kontener {
  margin: auto;
  width: 75%;
  display: flex;
}
[hidden] {display: none !important;}

// Tautan //
a, a:visited {
  color: #eee;
  text-decoration: underline #333;
}
a:hover {
  text-decoration: underline #fff;
}

// Judul //
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}
h1,h2,h3,h4,h5,h6 {font-weight: 500;}

// Masukan //
/*input, button {
  padding: 5px 11px;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  font: 400 $fontSize $fontFamily;
}
input {
  background: #000;
  box-shadow: $bayanganCahaya;
}
input:hover {
  border: 1px solid #666;
}
input:focus {
  outline: none !important;
  border: 1px solid #00f;
}
button {
  background: linear-gradient(to bottom, #444, #333);
  box-shadow: inset 0 0 1px #555, 0 1px #222;
}
button:hover {
  background: #444;
}
button:active {
  box-shadow: inset 0 2px 3px #111, 0 1px #555;
  background: #333;
}*/

// Utama //
main {
  background: var(--ltrblkg);
  min-height: 100vh;

  > .kontener {
    flex-flow: column nowrap;
    padding: 30px 0 20px 0;

    .kontener {
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0;
      width: 100%;
      padding: 0;

      section {
        width: calc(50% - 20px);
      }
    }
  }
  section {
    background: #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 3px;
    box-shadow: 0 1px #333;

    > div {
      border: 3px solid #111;
      background: #000;
      padding: 5px;
      margin-bottom: 3px;
    }
    > .judul {
      background: $ltrblkgChrome;
      padding: 5px;
      display: flex;
      border: none;

      h5 {margin: 0; padding: 2px;}
    }
    > div:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    > div:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-bottom: 0;
    }
  }
}

// Kepala //
header {
  background: $ltrblkgPlastik;
  background-color: #333;

  .kontener {
    justify-content: space-between;
    padding: 9px 0;
    align-items: center;

    * {display: inline-block;}
    #akun-yg-masuk {
      box-shadow: 0 1px #666, 0 -1px #000;
      padding: 5px 9px;
      border-radius: 5px;

      a {text-shadow: 0 1px #000;}
    }
  }
  input, button {
    padding: 5px 7px;
  }
}

// Kaki //
footer {
  background: $ltrblkgPlastik;
  background-color: #333;

  .kontener {
    justify-content: space-between;
    color: #ccc;

    a {
      color: #ccc;
      //font-weight: 500;
    }
    .tautan {
      padding: 5px 9px;
      border-radius: 5px;
      box-shadow: 0 1px #666, 0 -1px #000;

      a {text-shadow: 0 1px #000;}
    }
    .kredit {
      //font-size: 13px;
      margin-top: 10px;
    }
  }
}

//// TAMBAHAN ////
// Petakan video untuk hal. depan //
.vidgrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  > div {
    border-radius: 5px;
    width: calc(20% - 10px);
    margin: 5px;
    overflow: hidden;

    .pra {
      display: block;

      b {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px;
        padding-top: 0;
        display: block;
      }
      div {
        position: relative;

        img {width: 100%;}
        .dur {
          position: absolute;
          top: 3px;
          left: 3px;
          background: #000a;
          padding: 1px 3px;
          font-size: 12px;
          border-radius: 3px;
        }
      }
    }
    a.akun {
      width: 100%;
      padding: 0 5px;
      margin-bottom: 5px;
      display: flex;

      img {
        width: 32px;
        height: 32px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-right: 5px;
      }
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
        font-size: 13px;
        align-self: center;
      }
    }
    > div {
      font-size: 13px;
      padding: 0 5px;
      padding-bottom: 5px;
    }
  }
  > div:hover {
    background: #111;
  }
}
// Rincian akun, ditempatkan di hal. akun paling atas //
.rinciakun {
    margin: 3px !important;
    display: flex;
    flex-flow: row nowrap;

    img {
      width: 86px;
      height: 86px;
      border: 1px solid #fff;
      border-radius: 5px;
    }
    > div {
      display: flex;
      flex-flow: column nowrap;
      margin-left: 10px;
      width: 100%;

      > div:first-child {
        margin: auto 0;
        width: 100%;

        * {margin: 0;}
      }
      > div:last-child {
        padding: 5px 5px 0 0;
        border-top: 1px solid #333;
      }
    }
}
// Baris tab untuk kepala bagian halaman //
.tabbar {
  margin: auto;
  list-style: none;

  li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 5px 9px;
      //background: #0003;
      box-shadow: 0 1px 3px 1px #0009;
    }
    a.aktif {
      background: #0009;
      box-shadow: 0 1px #333, inset 0 1px 3px #000;
    }
  }
  li:first-child a {
    border-radius: 5px 0 0 5px;
  }
  li:last-child a {
    border-radius: 0 5px 5px 0;
  }
}
// Penampung untuk video //
.vidkon {
  text-align: center;
  max-height: calc(100vh - 50px);

  video {
    max-width: 100%;
    max-height: calc(100vh - 50px);
  }
}
// Daftar komentar //
.dft-komentar {
  margin: 5px;
  padding: 0;

  > div {
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 5px;

    > div:first-child {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5px;

      * {align-self: center;}
      > * {display: inline-flex;}
      img {
        width: 32px;
        height: 32px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-right: 5px;
      }
      div:first-child a {
        margin-right: 5px;
        display: inline-flex;
        align-items: center;
      }
    }
    > div:last-child {
      display: flex;
      flex-flow: row nowrap;
    }
  }
  > div:last-child {
    margin-bottom: 0;
  }
  > div:hover {
    background: #111;
  }
}
// Tampungan dengan bilah samping //
.sidebar {
  display: flex;
  flex-flow: row nowrap;

  > div:first-child {
    width: 25%;
    border-right: 1px solid #333;

    ul, ol {padding-left: 1em;}
  }
  > div:last-child {
    width: 75%;
    margin-left: 5px;
  }
  > div {
    margin: 5px;
  }
}
// Untuk menghilangkan spasi atas & bawah paragraf //
.p-nosp {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
// Daftar deskripsi/keterangan //
dl {
  margin: 0;

  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 10px;
    margin-left: 1em;
  }
}
// Informasi untuk sebuah video //
.infovid {
  a.akun {
    width: 100%;
    margin-bottom: 10px;
    display: flex;

    img {
      width: 32px;
      height: 32px;
      border: 1px solid #fff;
      border-radius: 3px;
      margin-right: 5px;
    }
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0;
      font-size: 13px;
      align-self: center;
    }
  }
}
// Papan kendali (digandeng dgn .sidebar) //
.dash {
  > div:first-child {
    background: linear-gradient(to left, #333, #000);
    border-right: none;
    border-radius: 5px;

    menu {
      list-style: none;
      padding-left: 0;
      margin: 10px 0;

      li {
        margin-bottom: 10px;

        a {
          padding: 5px 7px;
          display: block;
          border-radius: 5px 0 0 5px;
          background: linear-gradient(to bottom, #333, #444 50%, #222 51%, #111);
          box-shadow: 0 1px 3px 1px #0009;
        }
        a.aktif {
          background: linear-gradient(to right, #0009, #0009, #0009, #0009, #000), linear-gradient(to bottom, #333, #444 50%, #222 51%, #111);
          box-shadow: 0 1px #333, inset 0 1px 3px #000;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
  > div:last-child {}
}
