//// FONT ////
@import url('https://rsms.me/inter/inter.css');

//// VARIABEL ////
@nama-font: "Inter", Helvetica, Arial, sans-serif;
@tekstur-plastik: data-uri('image/png;base64', '../img/bg-plastik');
@latar-belakang-plastik: @tekstur-plastik top center repeat;
@latar-belakang-krom: linear-gradient(to bottom, #333, #444 50%, #222 51%, #111);
@latar-belakang-krom2: linear-gradient(to bottom, #333, #444 50%, #111 51%, #222);
@latar-belakang-krom3: linear-gradient(to bottom, #444, #333 50%, #222 51%, #111);
@ponsel: (max-width:512px);
@tablet: (max-width:900px);

:root {
  --latar-belakang: @latar-belakang-plastik;
}
.foto-profil(@ukuran) {
  .persegi(@ukuran);
  border: 1px solid #fff;
  border-radius: 3px;
}
.teks-bocor() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.persegi(@angka) {
  width: @angka;
  height: @angka;
}

//// DASAR ////
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font: normal 13px/16px @nama-font;
  background: #333;
  color: #eee;
}
[hidden], .hidden {display: none !important;}

// Tautan //
a:any-link {
  color: #eef;
  //text-decoration: underline #333;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline #fff;
}
a:active {
  text-decoration: underline dotted #fff;
}

// Utama //
.wadah {
  margin: auto;
  width: 980px;

  //@media @tablet {width: calc(100% - 20px);}
  &.horizontal {
    display: flex;
  }
}
.utama {
  header& {
    background: @latar-belakang-plastik, linear-gradient(to bottom, #444, #3330);
    border-top: 1px solid #555;

    .wadah {
      justify-content: space-between;
      padding: 10px 0;
      align-items: center;

      * {display: inline-block;}
      .logo {
        text-decoration: none !important;
      }
      .masuk {
        border-top: 1px solid #000;
        border-bottom: 1px solid #666;
        padding: 5px 9px;
        border-radius: 5px;

        a {text-shadow: 0 1px #000;}
        &.sudah {}
        &.belum {}
      }
    }
    input, button {
      padding: 5px 7px;
    }
  }
  footer& {
    background: @latar-belakang-plastik, linear-gradient(to bottom, #3330, #222);
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    box-shadow: inset 0 1px #ccc3;
    margin-top: -30px;
    padding-top: 25px;

    .wadah {
      color: #ccc;
      display: table;

      a {color: #ccc;}
      .tautan {
        padding: 5px 9px;
        border-radius: 5px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #666;
        display: inline-block;

        a {text-shadow: 0 1px #000;}
      }
    }
  }
  main&, &.depan {
    background: var(--latar-belakang);
    min-height: 100vh;
    padding-top: 15px;

    .bagan, section {
      background: #333;
      //padding: 3px;
      border-radius: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc3;

      > div {
        background: #111;
        padding: 10px;

        &:first-child {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          margin-bottom: 0;
        }
      }
      > .kepala, header {
        background: @latar-belakang-krom;
        padding: 5px 10px;
        display: flex;
        border: none;
        align-items: center;

        .judul {
          font-size: 1.2em;
          font-weight: 500;
        }
        a.tombol {
          padding: 3px 6px;
          margin-left: auto;
          background: @latar-belakang-krom2;
          border-radius: 5px;
          border-top: 1px solid #222;
          border-bottom: 1px solid #444;
          box-shadow: inset 0 0 5px 1px #444;
          &:hover {
            box-shadow: inset 0 0 5px 1px #555;
            background: linear-gradient(to bottom, #444, #555 50%, #222 51%, #333);
          }
          &:active {
            box-shadow: inset 0 0 5px 1px #111;
            background: linear-gradient(to top, #333, #444 50%, #111 51%, #222);
          }
        }
      }
      hr {
        border: none;
        border-top: 1px solid #333;
        border-bottom: 1px solid #000;
      }
    }
  }
}
.pemisah {
  display: flex;
  flex-flow: row nowrap;

  &.p50-50 {
    > div:first-child {width: 50%}
    > div:last-child {width: 50%; margin-left: 10px;}
  }
  &.p70-30 {
    > div:first-child {width: 70%}
    > div:last-child {width: 30%; margin-left: 10px;}
  }
}
.rincian-video {
  margin: 0;
  dt {font-weight:bold}
  dd {
    margin-bottom: 0.5em;
    margin-left: 1em;

    &:last-child {margin-bottom: 0;}
  }
}
.petak-video {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin: -5px;

  &.p3 li {width: calc(100% / 3 - 10px)}
  li {
    border-radius: 5px;
    width: calc(100% / 4 - 10px);
    margin: 5px;
    overflow: hidden;
    font-size: 0.9em;

    &:hover {
      background: #222;
    }
    //@media @tablet {width: calc(50% - 20px);}
    //@media @ponsel {width: calc(100% - 20px);}
    .pratinjau {
      display: block;
      position: relative;

      * {display: block;}
      b {
        font-size: 1.1em;
        padding: 5px;
        padding-top: 0;
        .teks-bocor();
      }
      img {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        position: absolute;
        top: 3px;
        left: 3px;
        background: #000a;
        padding: 1px 3px;
        border-radius: 3px;
        transition: opacity 0.1s;
      }
      &:hover {
        span {
          opacity: 0;
        }
      }
    }
    .tautan-akun {
      width: 100%;
      padding: 0 5px;
      margin-bottom: 5px;
      display: flex;

      img {
        .foto-profil(32px);
        margin-right: 5px;
      }
      span {
        .teks-bocor();
        margin: 0;
        align-self: center;
      }
    }
    > div {
      padding: 0 5px;
      padding-bottom: 5px;
    }
  }
}
.petak-akun {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin: -5px;

  &.p3 li {width: calc(100% / 3 - 10px)}
  li {
    border-radius: 5px;
    width: calc(100% / 4 - 10px);
    margin: 5px;
    overflow: hidden;

    &:hover {
      background: #222;
    }
    //@media @tablet {width: calc(50% - 20px);}
    //@media @ponsel {width: calc(100% - 20px);}
    * {display: block;}
    b {
      padding: 5px;
      .teks-bocor();
      text-align: center;
    }
    img {.foto-profil(100%);}
    button {
      margin: auto;
      margin-bottom: 5px;
    }
  }
}
// Rincian akun, ditempatkan di hal. akun paling atas //
.rincian-akun {
  display: flex;
  flex-flow: row nowrap;

  img {
    width: 86px;
    height: 86px;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  > div {
    margin-left: 10px;
  }
}
// Baris tab untuk kepala bagian halaman //
.tabbar {
  margin: auto;
  list-style: none;
  display: inline-flex;
  padding: 0;
  box-shadow: 0 0 3px #0009;

  li {
    div, a {
      padding: 5px 9px;
      border-right: 1px solid #333;
    }
    a {
      display: block;

      &:active {
        background: linear-gradient(to top, #333, #444 50%, #222 51%, #111);
        box-shadow: 0 1px #333, inset 0 1px 3px #000;
      }
    }
    div {
      background: #0009;
      box-shadow: 0 1px #333, inset 0 1px 3px #000;
    }
    &:first-child {
      div, a {
        border-radius: 5px 0 0 5px;
        border-left: 1px solid #333;
      }
    }
    &:last-child {
      div, a {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}
// Penampung untuk video //
.wadah-video {
  background: #111;
  margin: -15px 0 15px 0;
  padding: 10px 0;
  box-shadow: inset 0 0 10px #000;
  min-height: 170px;

  .wadah {
    display: flex;
    justify-content: center;
  }
  video {
    max-width: 100%;
    max-height: 90vh;
  }
}
// Daftar komentar //
.daftar-komentar {
  margin: 0 -5px;
  list-style: none;
  padding-left: 0;

  li {
    padding: 5px;
    margin-bottom: 5px;

    &:hover {
      background: #222;
      border-radius: 5px;
    }
    &:last-child {margin-bottom: 0;}
    .kepala {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5px;

      a {
        display: flex;
        max-width: 75%;

        img {
          .foto-profil(32px);
          margin-right: 5px;
        }
        span {
          .teks-bocor();
        }
      }
      span {align-self: center;}
    }
    .rujukan-balasan {
      border-left: 1px solid #333;
      box-shadow: -1px 0 #000;
      padding: 3px 5px;
      margin-bottom: 5px;
      display: block;
      border-radius: 5px;
      margin-left: 1em;

      div {margin: 3px 0 0 1em;}
      &:hover {
        text-decoration: none;
        span {text-decoration: underline;}
      }
    }
    .aksi {
      margin-top: 5px;
      display: flex;
      align-items: center;
      > div:last-child {margin-left: auto;}
    }
    .daftar-komentar {
      padding-left: 32px;
      margin: 0;
      margin-left: -5px;
      margin-top: 5px;

      li:hover {background: #111;}
    }
  }
}
.tautan-akun-video {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
  margin-bottom: 5px;
  flex-flow: row nowrap;
  border-radius: 5px;
  padding: 5px;

  a {
    display: flex;
    max-width: 75%;

    img {
      .foto-profil(32px);
      margin-right: 5px;
    }
    span {
      .teks-bocor();
    }
  }
  span {align-self: center;}
  &:hover {
    background: #222;
  }
}
// Papan kendali (digandeng dgn .sidebar) //
.dash {
  > div {
    &:first-child {
      background: linear-gradient(to left, #333, #000);
      border-right: none;
      border-radius: 5px;

      menu {
        list-style: none;
        padding-left: 0;
        margin: 10px 0;

        li {
          margin-bottom: 10px;

          a {
            padding: 5px 7px;
            display: block;
            border-radius: 5px 0 0 5px;
            background: linear-gradient(to bottom, #333, #444 50%, #222 51%, #111);
            box-shadow: 0 1px 3px 1px #0009;
          }
          a.aktif {
            background: linear-gradient(to right, #0009, #0009, #0009, #0009, #000), linear-gradient(to bottom, #333, #444 50%, #222 51%, #111);
            box-shadow: 0 1px #333, inset 0 1px 3px #000;
          }
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
    &:last-child {}
  }
}
.spanduk-akun {
  height:150px;
  margin-bottom:20px;
}
ul, ol {
  &.minim {
    margin: 0;
    padding-left: 1em;
  }
  &.nodot {
    list-style: none;
  }
}
.halaman-balasan {
  &::before {
    content: '';
    display: block;
    border-bottom: 1px solid #333;
    border-radius: 0 0 5px 5px;
    height: 5px;
    width: 100%;
    margin-top: 10px;
  }
  > div {
    margin: 0 auto;
    width: fit-content;
    * {display: inline-block;}
  }
  .aktif, button {
    border: 1px solid #333;
    margin-top: -1px;
    line-height: 16px;
    padding: 3px 5px;
    color: #fff;
    border-radius: 0 0 5px 5px;
  }
  .aktif {
    background: #111;
    border-top: 1px solid #111;
  }
  button {
    background: @latar-belakang-krom2;
    box-shadow: inset 0 0 3px #333;

    &:hover {
      box-shadow: inset 0 0 3px #444;
      background: linear-gradient(to bottom, #444, #555 50%, #222 51%, #333);
    }
    &:active {
      box-shadow: inset 0 0 3px #222;
      background: linear-gradient(to top, #333, #444 50%, #111 51%, #222);
    }
  }
}
form.saring {
  margin-bottom: 5px;
}
