
<div class="komentar">
  <div style="margin-bottom:1em;">
    <a href="dft-msk.html">Daftar atau Masuk</a> untuk menulis dan membalas komentar!
  </div>
  <form class="buat-komentar" action="vid.html" method="post" hidden>
    <input type="hidden" name="membalas" value="">
    <textarea name="komentar" placeholder="Tulis komentarmu..."></textarea>
    <button type="submit">Kirim</button>
  </form>
  <form class="saring" action="vid.html" method="post">
    <label>
      Urut Berdasarkan:
      <select name="urutkan">
        <optgroup label="Waktu:">
          <option value="terbaru-terlama">Terbaru ke Terlama</option>
          <option value="terlama-terbaru">Terlama ke Terbaru</option>
        </optgroup>
        <optgroup label="Skor:">
          <option value="disukai-dibenci">Paling disukai ke Paling dibenci</option>
          <option value="dibenci-disukai">Paling dibenci ke Paling disukai</option>
        </optgroup>
        <optgroup label="Peringkat:">
          <option value="terbaik-terburuk">Terbaik ke Terburuk</option>
          <option value="terburuk-terbaik">Terburuk ke Terbaik</option>
        </optgroup>
        <optgroup label="Balasan:">
          <option value="terbyk-kosong">Terbanyak ke Kosong</option>
          <option value="kosong-terbyk">Kosong ke Terbanyak</option>
        </optgroup>
      </select>
    </label>
  </form>
  <style media="screen">
    .daftar-komentar .aksi div:nth-child(2) {display:none;}
  </style>
  <ul class="daftar-komentar">
    <li id='YxvVvFgUEnjIoQxKaHru'>
      <div class="kepala">
        <a href="usr.html?id=JOKAM" title='JOKAM'>
          <img src=".data/akun/foto-profil/JOKAM">
          <span>JOKAM</span>
        </a>
        <span>21 Sep 2021 3:54:22 UTC</span>
      </div>
      <div>
        Stay Halal Brother
      </div>
      <div class="aksi">
        <div>
          <span>354</span> suka,
          <span>0</span> benci
        </div>
        <div>
          <button type="button" name="balas">Balas</button>
        </div>
        <div>
          <button type="button" name="lihat-balasan"><span>Lihat</span><span class="hidden">Tutup</span> 1 balasan</button>
        </div>
      </div>
      <ul class="daftar-komentar">
        <li id='wUiy3C0ciHl7Cf3FeBd5'>
          <div class="kepala">
            <a href="usr.html?id=orgBaik" title='orang Baik'>
              <img src="aset/img/tdk-ada foto-profil">
              <span>orang Baik</span>
            </a>
            <span>21 Sep 2021 3:54:23 UTC</span>
          </div>
          <div>
            Masya Alloh Brother
          </div>
          <div class="aksi">
            <div>
              <span>27</span> suka,
              <span>0</span> benci
            </div>
            <div>
              <button type="button" name="balas">Balas</button>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li id='Ltab9ZQOOz5kECoYMlvu'>
      <div class="kepala">
        <a href="usr.html?id=bocil" title='bocil'>
          <img src="aset/img/tdk-ada foto-profil">
          <span>bocil</span>
        </a>
        <span>11 Sep 2021 1:34:20 UTC</span>
      </div>
      <div>
        bacot kamu dek
      </div>
      <div class="aksi">
        <div>
          <span>0</span> suka,
          <span>666</span> benci
        </div>
        <div>
          <button type="button" name="balas">Balas</button>
        </div>
        <div>
          <button type="button" name="lihat-balasan"><span>Lihat</span><span class="hidden">Tutup</span> 3 balasan</button>
        </div>
      </div>
      <ul class="daftar-komentar">
        <li id='CupANVrUrkkgT6iIIv4Y'>
          <div class="kepala">
            <a href="usr.html?id=GIGACHAD" title='GIGA CHAD'>
              <img src=".data/akun/foto-profil/GIGACHAD">
              <span>GIGA CHAD</span>
            </a>
            <span>11 Sep 2021 1:34:22 UTC</span>
          </div>
          <div>
            ampun bang
          </div>
          <div class="aksi">
            <div>
              <span>420</span> suka,
              <span>0</span> benci
            </div>
            <div>
              <button type="button" name="balas">Balas</button>
            </div>
          </div>
        </li>
        <li id='TxxSnChm6VBOwBL2IVMM'>
          <div class="kepala">
            <a href="usr.html?id=bocil" title='bocil'>
              <img src="aset/img/tdk-ada foto-profil">
              <span>bocil</span>
            </a>
            <span>11 Sep 2021 1:34:30 UTC</span>
          </div>
          <a href="#CupANVrUrkkgT6iIIv4Y" class="rujukan-balasan">
            <span>GIGA CHAD <i>(11 Sep 2021 1:34:22 UTC):</i></span>
            <div>
              ampun bang
            </div>
          </a>
          <div>
            cupu kamu dek
          </div>
          <div class="aksi">
            <div>
              <span>0</span> suka,
              <span>13</span> benci
            </div>
            <div>
              <button type="button" name="balas">Balas</button>
            </div>
          </div>
        </li>
        <li id='0Ye5kgS0m5ODov8YXufN'>
          <div class="kepala">
            <a href="usr.html?id=ProPlayer" title='Pro Player'>
              <img src="aset/img/tdk-ada foto-profil">
              <span>Pro Player</span>
            </a>
            <span>11 Sep 2021 1:34:31 UTC</span>
          </div>
          <div>
            ngaca, bocil ngomong bocil. bacot bocil
          </div>
          <div class="aksi">
            <div>
              <span>69</span> suka,
              <span>0</span> benci
            </div>
            <div>
              <button type="button" name="balas">Balas</button>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li id='wuuH8Y68rhuhugYff67yGI'>
      <div class="kepala">
        <a href="usr.html?id=LoremIpsum" title='kang lorem ipsum'>
          <img src="aset/img/tdk-ada foto-profil">
          <span>kang lorem ipsum</span>
        </a>
        <span>30 Sep 2021 3:02:23 UTC</span>
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel pretium lectus quam id leo in vitae turpis. Nulla aliquet enim tortor at. Nullam eget felis eget nunc. Mauris pharetra et ultrices neque ornare aenean euismod elementum nisi. Augue neque gravida in fermentum et sollicitudin. Sed vulputate mi sit amet. Viverra justo nec ultrices dui sapien eget mi proin sed. Pellentesque dignissim enim sit amet. Eget felis eget nunc lobortis. Nunc eget lorem dolor sed viverra ipsum nunc. Duis ut diam quam nulla porttitor massa id. Ornare arcu dui vivamus arcu.
        <br>
        Sit amet consectetur adipiscing elit pellentesque habitant. Cras sed felis eget velit aliquet sagittis id consectetur purus. Proin libero nunc consequat interdum varius sit amet mattis. Tincidunt tortor aliquam nulla facilisi cras fermentum. Malesuada fames ac turpis egestas maecenas pharetra. Sociis natoque penatibus et magnis dis parturient montes nascetur. Nec feugiat in fermentum posuere urna nec tincidunt. Aenean et tortor at risus viverra adipiscing at in. Vel pharetra vel turpis nunc eget lorem dolor sed. Cursus eget nunc scelerisque viverra mauris in aliquam sem. Ipsum nunc aliquet bibendum enim facilisis. Convallis a cras semper auctor neque vitae tempus. Lacus luctus accumsan tortor posuere ac.
        <br>
        Justo nec ultrices dui sapien. Elementum facilisis leo vel fringilla est ullamcorper eget. Cursus risus at ultrices mi. Dignissim diam quis enim lobortis scelerisque fermentum dui. Ut tellus elementum sagittis vitae et leo duis ut diam. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Tristique senectus et netus et malesuada fames ac turpis egestas. Egestas congue quisque egestas diam in arcu cursus euismod quis. Lacinia at quis risus sed vulputate odio ut. Mi ipsum faucibus vitae aliquet nec. Nulla pharetra diam sit amet nisl suscipit. Urna duis convallis convallis tellus id interdum velit laoreet. Purus gravida quis blandit turpis cursus. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Nunc scelerisque viverra mauris in aliquam. Donec et odio pellentesque diam volutpat commodo.
      </div>
      <div class="aksi">
        <div>
          <span>1</span> suka,
          <span>0</span> benci
        </div>
        <div>
          <button type="button" name="balas">Balas</button>
        </div>
      </div>
    </li>
  </ul>
  <div class="halaman-balasan">
    <div>
        <span class="aktif">1</span>
        <button type="button">2</button>
        <button type="button">3</button>
        <button type="button">4</button>
        <button type="button">5</button>
        <button type="button">6</button>
        <button type="button">7</button>
        <button type="button">8</button>
        <button type="button">9</button>
        <button type="button">10</button>
        <span>…</span>
        <button type="button">21</button>
    </div>
  </div>
</div>
