<li>
  <a class="pratinjau" href="vid.html?id=hYmneLom0xleTWNZOyG5" title="Big Buck Bunny">
    <span>10:35</span>
    <img src=".data/video/keluku/hYmneLom0xleTWNZOyG5">
    <b>Big Buck Bunny</b>
  </a>
  <a class="tautan-akun" href="usr.html?id=Blender" title="Blender">
      <img src=".data/akun/foto-profil/Blender">
      <span>Blender</span>
  </a>
  <div>
    <span>20 Mei 2008</span> | ★ <span>3,3</span> (<span>2.082</span>) | <span>14.538.792</span> penayangan
  </div>
</li>
<li>
  <a class="pratinjau" href="vid.html?id=xTwM4O2Jqj6Ub3K2C1Fn" title="Gadingmangu, Perak, Jombang">
    <span>3:13</span>
    <img src=".data/video/keluku/xTwM4O2Jqj6Ub3K2C1Fn">
    <b>Gadingmangu, Perak, Jombang</b>
  </a>
  <a class="tautan-akun" href="usr.html?id=JOKAM" title="JOKAM">
      <img src=".data/akun/foto-profil/JOKAM">
      <span>JOKAM</span>
  </a>
  <div>
    <span>3 Januari 2020</span> | ★ <span>5</span> (<span>313.354</span>) | <span>313.354.000</span> penayangan
  </div>
</li>
<li>
  <a class="pratinjau" href="vid.html?id=xTwM4O2Jqj6Ub3K2C1Fn" title="Gadingmangu, Perak, Jombang">
    <span>3:13</span>
    <img src=".data/video/keluku/xTwM4O2Jqj6Ub3K2C1Fn">
    <b>Gadingmangu, Perak, Jombang</b>
  </a>
  <a class="tautan-akun" href="usr.html?id=JOKAM" title="JOKAM">
      <img src=".data/akun/foto-profil/JOKAM">
      <span>JOKAM</span>
  </a>
  <div>
    <span>3 Januari 2020</span> | ★ <span>5</span> (<span>313.354</span>) | <span>313.354.000</span> penayangan
  </div>
</li>
<li>
  <a class="pratinjau" href="vid.html?id=xTwM4O2Jqj6Ub3K2C1Fn" title="Gadingmangu, Perak, Jombang">
    <span>3:13</span>
    <img src=".data/video/keluku/xTwM4O2Jqj6Ub3K2C1Fn">
    <b>Gadingmangu, Perak, Jombang</b>
  </a>
  <a class="tautan-akun" href="usr.html?id=JOKAM" title="JOKAM">
      <img src=".data/akun/foto-profil/JOKAM">
      <span>JOKAM</span>
  </a>
  <div>
    <span>3 Januari 2020</span> | ★ <span>5</span> (<span>313.354</span>) | <span>313.354.000</span> penayangan
  </div>
</li>
<li>
  <a class="pratinjau" href="vid.html?id=xTwM4O2Jqj6Ub3K2C1Fn" title="Gadingmangu, Perak, Jombang">
    <span>3:13</span>
    <img src=".data/video/keluku/xTwM4O2Jqj6Ub3K2C1Fn">
    <b>Gadingmangu, Perak, Jombang</b>
  </a>
  <a class="tautan-akun" href="usr.html?id=JOKAM" title="JOKAM">
      <img src=".data/akun/foto-profil/JOKAM">
      <span>JOKAM</span>
  </a>
  <div>
    <span>3 Januari 2020</span> | ★ <span>5</span> (<span>313.354</span>) | <span>313.354.000</span> penayangan
  </div>
</li>
<li>
  <a class="pratinjau" href="vid.html?id=xTwM4O2Jqj6Ub3K2C1Fn" title="Gadingmangu, Perak, Jombang">
    <span>3:13</span>
    <img src=".data/video/keluku/xTwM4O2Jqj6Ub3K2C1Fn">
    <b>Gadingmangu, Perak, Jombang</b>
  </a>
  <a class="tautan-akun" href="usr.html?id=JOKAM" title="JOKAM">
      <img src=".data/akun/foto-profil/JOKAM">
      <span>JOKAM</span>
  </a>
  <div>
    <span>3 Januari 2020</span> | ★ <span>5</span> (<span>313.354</span>) | <span>313.354.000</span> penayangan
  </div>
</li>
<li>
  <a class="pratinjau" href="vid.html?id=xTwM4O2Jqj6Ub3K2C1Fn" title="Gadingmangu, Perak, Jombang">
    <span>3:13</span>
    <img src=".data/video/keluku/xTwM4O2Jqj6Ub3K2C1Fn">
    <b>Gadingmangu, Perak, Jombang</b>
  </a>
  <a class="tautan-akun" href="usr.html?id=JOKAM" title="JOKAM">
      <img src=".data/akun/foto-profil/JOKAM">
      <span>JOKAM</span>
  </a>
  <div>
    <span>3 Januari 2020</span> | ★ <span>5</span> (<span>313.354</span>) | <span>313.354.000</span> penayangan
  </div>
</li>
<li>
  <a class="pratinjau" href="vid.html?id=xTwM4O2Jqj6Ub3K2C1Fn" title="Gadingmangu, Perak, Jombang">
    <span>3:13</span>
    <img src=".data/video/keluku/xTwM4O2Jqj6Ub3K2C1Fn">
    <b>Gadingmangu, Perak, Jombang</b>
  </a>
  <a class="tautan-akun" href="usr.html?id=JOKAM" title="JOKAM">
      <img src=".data/akun/foto-profil/JOKAM">
      <span>JOKAM</span>
  </a>
  <div>
    <span>3 Januari 2020</span> | ★ <span>5</span> (<span>313.354</span>) | <span>313.354.000</span> penayangan
  </div>
</li>
