<li>
  <a class="pratinjau" href="vid.html?id=%ID%" title="%Judul%">
    <div>
      <div class='durasi-video'>%Durasi%</div>
      <img src=".data/video/keluku/%ID%">
    </div>
    <div><b>%Judul%</b></div>
  </a>
  <a class="tautan-akun" href="usr.html?id=%TautanAkun%" title="%NamaAkun%">
      <img src=".data/akun/foto-profil/%TautanAkun%">
      <span>%NamaAkun%</span>
  </a>
  <div>
    <span>%TanggalDiunggah%</span> | ★ <span>%RataRata%</span> (<span>%BanyakSuara%</span>) | <span>%Penonton%</span>x ditonton
  </div>
</li>
