<li id='%ID%'>
  <div class="kepala">
    <a href="usr.html?id=%TautanAkun%" title='%NamaAkun%'>
      <img src=".data/akun/foto-profil/%TautanAkun%">
      <span>%NamaAkun%</span>
    </a>
    <span>%WaktuKomentar%</span>
  </div>
  <div>
    %IsiKomentar%
  </div>
  <div class="aksi">
    <div>
      <div>
        <button type="button" name="balas">Balas</button>
      </div>
      <!--$START tombol-balasan-->
      <a href="javascript:LihatBalasan('');">Lihat %AngkaBalasan% balasan</a>
      <!--$END tombol-balasan-->
    </div>
    <!--$START daftar-balasan-->
    <ul class="daftar-komentar">
      <!--$START item-balasan-->
      <li id='%ID%'>
        <div class="kepala">
          <a href="usr.html?id=%TautanAkun%" title='%NamaAkun%'>
            <img src=".data/akun/foto-profil/%TautanAkun%">
            <span>%NamaAkun%</span>
          </a>
          <span>%WaktuKomentar%</span>
        </div>
        <!--$START rujukan-balasan-->
        <a href="#%ID%" class="rujukan-balasan">
          <span>%NamaAkun% <i>(%WaktuKomentar%):</i></span>
          <div>
            %IsiKomentar%
          </div>
        </a>
        <!--$END rujukan-balasan-->
        <div>
          %IsiKomentar%
        </div>
        <div class="aksi">
          <div>
            <button type="button" name="balas">Balas</button>
          </div>
        </div>
      </li>
      <!--$END item-balasan-->
      <!--$PUT item-balasan-->
    </ul>
    <!--$END daftar-balasan-->
  </div>
</li>
