<div class="wadah">
  <p style="color:#ccc3;"><i><b>Sekedar catatan</b> bahwa situs ini hanyalah demonstrasi/konsep (pratinjau) dari situs yang ingin dibuat. Banyak fitur belum bisa digunakan untuk sementara ini (seperti: daftar & masuk, unggah video, pemutar video masih menggunakan bawaan peramban, dll.), dan juga banyak fitur belum ditambahkan/diperbaiki/dikurangi. Saya tau, ini hanyalah "bagian paling kecil dari mimpi", mungkin suatu saat nanti, situs ini bisa berfungsi sepenuhnya dan dapat dipakai banyak khalayak.</i></p>
  <div>
    <span class="tautan">
      <a href="ttg.html">Tentang</a> |
      <a href="bantuan.html">Bantuan</a> |
      <a href="blog.html">Blog</a> |
      <a href="hakcipta.html">Hak Cipta</a> |
      <a href="privasi.html">Kebijakan Privasi</a> |
      <a href="s_k.html">Syarat & Ketentuan</a> |
      <a href="pekerjaan.html">Pekerjaan</a> |
      <a href="pengembang.html">Pengembang</a>
    </span>
  </div>
  <p>&copy; 2021 Wots. Hak cipta dilindungi.</p>
</div>
