<div class="wadah horizontal">
  <div>
    <a href="index.html" class='logo'>WOTS</a>
    <form class="cari" action='cari.html'>
      <input name="k" placeholder="Telusuri" size="25">
      <button type="submit">Cari</button>
    </form>
  </div>
  <div>
    <div class="sudah masuk">

    </div>
    <div class="belum masuk">
      <a href="dft-msk.html">Daftar/Masuk</a>
    </div>
  </div>
</div>
